label {
    color:white;
}
/*.container {
    padding-top: 60px;
    background-color: rgba(0,0,0,0.7);
}*/

.view {
    background-image: url('lofoten.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
}

.bilde {
    max-width: 250px;
    padding-top: 20px;

}


















  

